<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.insiderback.common.fileUpload.repository.AttachmentMapper">
    <select id="selectAttachmentNo" resultType="java.lang.Integer">
        select coalesce(max(attachment_no), 0) + 1 as attachment_no from attachment
    </select>
    <insert id="insertAttachment" parameterType="com.example.insiderback.common.fileUpload.model.AttachmentVO">
        insert into attachment(attachment_no, attachment_name, attachment_type, attachment_size, attachment_route)
        values(
            #{attachmentNo},
            #{attachmentName},
            #{attachmentType},
            #{attachmentSize},
            #{attachmentRoute}
            )
    </insert>
    <select id="selectAttachment" resultType="com.example.insiderback.common.fileUpload.model.AttachmentVO">
        select * from attachment where attachment_no = #{attachmentNo}
    </select>
</mapper>