<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.insiderback.member.repository.MemberMapper">
    <select id="selectPage" resultType="com.example.insiderback.member.model.PaginationTestVO">
        select 1 as count
    </select>

    <select id="selectAnnotation" resultType="com.example.insiderback.member.model.AnnotationTestVO">
        select 13 as age, 'abc' as name
    </select>

    <select id="selectEncrypt" resultMap="encryptResultMap">
        select 'zUxlJVqzvqEkZm4vGxYk6A==' as id;
    </select>

    <resultMap id="encryptResultMap" type="com.example.insiderback.member.model.EncryptTestVO">
        <result column="id" property="id" typeHandler="com.example.insiderback.common.mybatis.AESHandler" javaType="String" />
    </resultMap>
</mapper>