<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="callSettersOnNulls" value="true" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="300" />
        <setting name="localCacheScope" value="SESSION" />
        <setting name="useGeneratedKeys" value="true" />
    </settings>

    <typeAliases>
<!--        <typeAlias alias="sql" type="java.util.HashMap"/>-->
        <typeAlias alias="AESHandler" type="com.example.insiderback.common.mybatis.AESHandler" />
<!--        <typeAlias alias="annotation" type="com.example.insiderback.member.model.AnnotationTestVO" />-->
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="java.lang.String" jdbcType="CLOB" handler="org.apache.ibatis.type.ClobTypeHandler" />
        <typeHandler handler="com.example.insiderback.common.mybatis.AESHandler" />
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.example.insiderback.common.interceptor.MybatisInterceptor"/>
        <plugin interceptor="com.example.insiderback.common.interceptor.MaskingInterceptor"/>
    </plugins>
</configuration>